<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean class ="comm.tyss.springcore.Employee" id="emp" />
 <!-- <bean class ="comm.tyss.springcore.Employee" id="emp1" >
  <constructor-arg name="id" value="20"/>
  <constructor-arg name="name" value="veer"/>
  </bean>
  <bean class ="comm.tyss.springcore.Employee" id="emp2" >
  <property name="id" value="21"/>
  <property name="name" value="amrut"/> 
  </bean> -->
   

</beans>